//
//  Auth.xcconfig
//  Letports
//
//  Created by John Yun on 8/22/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

REVERSED_GOOGLE_CLIENT_ID = com.googleusercontent.apps.350792606197-ldvgk70hggbrhgm6ch664tm4lq8hig6s
YOUTUBE_API_KEY =  AIzaSyDgT5EF4qe7Q2zTo-c3XABa3l57DBRKt-w
