//
//  Auth.xcconfig
//  Letports
//
//  Created by John Yun on 8/22/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

GOOGLE_CLIENT_ID = 796355016318-o6fjlli82cim0k4far79eis13m7r52d7.apps.googleusercontent.com
REVERSED_GOOGLE_CLIENT_ID = com.googleusercontent.apps.796355016318-o6fjlli82cim0k4far79eis13m7r52d7
YOUTUBE_API_KEY =  AIzaSyDgT5EF4qe7Q2zTo-c3XABa3l57DBRKt-w
KAKAO_NATIVE_APP_KEY = 0fd094f93bdc5209cf24d3e38fda46dd
NOTIFICATION_SERVICE_URL = letports.site/send-notification-by-uid
